{% extends 'sistema/base_login.html' %}

{% load static %}

{% block content %}
    
    <main>
        <div class="container">
    
          <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
            <div class="container">
              <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
    
                  <div class="d-flex justify-content-center py-4">
                      <img src="{% static '/img/LogoEst1.png' %}" class="img-fluid" alt="">
                  </div>
    
                  <div class="card mb-3">
    
                    <div class="card-body">
    
                      <div class="pt-4 pb-2">
                        <h5 class="card-title text-center pb-0 fs-4">Entre na sua conta</h5>
                        <p class="text-center small">Digite seu usuário e senha para fazer login</p>
                      </div>


                      
                      <form action="{% url 'login' %}" method="POST"class="row g-3 needs-validation" novalidate>
                        {% csrf_token %}
                        
                        <div class="col-12">
                          {% include 'sistema/errologin.html' %}
                          <label for="yourUsername" class="form-label">Usuário</label>
                          <div class="input-group has-validation">
                            <span class="input-group-text" id="inputGroupPrepend">@</span>
                            {{form.username}}
                            <div class="invalid-feedback">Por favor digite seu usuário!</div>
                          </div>
                        </div>
    
                        <div class="col-12">
                          <label for="yourPassword" class="form-label">Senha</label>
                          {{form.password}}
                          <div class="invalid-feedback">Por favor digite sua senha!</div>
                        </div>
                        

                        <div class="col-12">
                          <button class="btn btn-primary w-100" type="submit" style="background-color: #671002; border-color: #671002; text-transform: uppercase;">Login</button>
                        </div>
                        <div class="col-12">
                          <p class="small mb-0">Não possui conta? <a href="{% url 'cadastro'%}">Crie uma conta</a></p>
                        </div>
                      </form>
    
                    </div>
                  </div>
                </div>
              </div>
            </div>
    
          </section>
    
        </div>
      </main>
  

{% endblock %}