{% extends 'sistema/base_table.html' %}

{% block content %}

                <div class="panel">
                    <div class="panel-heading">
                        
                        <div class="row">
                            
                            <div class="col col-sm-3 col-xs-12" style="width: 90%;">
                                <h4 class="title">Conheça os postos de coleta de caicó</h4>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Nome do posto</th>
                                    <th>Endereço</th>
                                    <th>Chave do PIX</th>
                                    <th>Horários</th>
                                    <th>Contatos</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for ponto in pontos %}
                                <tr>
                                    <td>{{ ponto.id}} </td>
                                    <td>{{ ponto.nome }}</td>
                                    <td>{{ ponto.rua}}, {{ponto.numero}}, {{ponto.bairro}}</td>
                                    <td>{{ ponto.pix }}</td>
                                    <td>{{ ponto.horaabertura}} até {{ ponto.horafechamento }}</td>
                                    <td>{{ ponto.telefone }}</td>
                                </tr>

                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <a href="{% url 'tela_inicio'%}"><button class="btn btn-primary btn-sm" type="button" style="background-color: #671002; border-color: #671002; text-transform: uppercase;"> Voltar</button></a>
                        </div>
                    </div>
                </div>
        
{% endblock %}