{% extends 'sistema/base_login.html' %}

{% load static %}

{% block content %}
    <main>
        <div class="container">
    
          <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
            <div class="container">
              <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
    
                  <div class="d-flex justify-content-center py-4">
                      <img src="{% static '/img/LogoEst1.png' %}" class="img-fluid" alt="">
                  </div>
    
                  <div class="card mb-3">

                    <div class="card-body">
    
                      <div class="pt-4 pb-2">
                        <h5 class="card-title text-center pb-0 fs-4">Crie uma conta</h5>
                        <p class="text-center small">Preencha com os seus dados para criar sua conta</p>
                      </div>
    
                      <form class="row g-3 needs-validation" novalidate method="post" action="{% url 'cadastro' %}">
                        {% csrf_token %}

                      
                      <div class="col-12">
                        {% include 'sistema/errologin.html' %}
                          <label for="yourName" class="form-label">Nome</label>
                          <!--<input type="text" name="nome" class="form-control" id="yourName" required>-->
                          {{form_registro.first_name}}
                          <div class="invalid-feedback">Por favor, digite seu nome!</div>
                        </div>
    
                        <div class="col-12">
                          <label for="yourEmail" class="form-label">Email</label>
                          <!--<input type="email" name="email" class="form-control" id="yourEmail" required>-->
                          {{form_registro.email}}
                          <div class="invalid-feedback">Por favor, digite um endereço de Email válido!</div>
                        </div>
    
                        <div class="col-12">
                          <label for="yourUsername" class="form-label">Usuário</label>
                          <div class="input-group has-validation">
                            <span class="input-group-text" id="inputGroupPrepend">@</span>
                            <!--<input type="text" name="username" class="form-control" id="yourUsername" required>-->
                            {{form_registro.username}}
                            <div class="invalid-feedback">Por favor escolha um usuário!</div>
                          </div>
                        </div>
    
                        <div class="col-12">
                          <label for="yourPassword" class="form-label">Senha</label>
                          <!--<input type="password" name="password" class="form-control" id="yourPassword" required>-->
                          {{form_registro.password1}}
                          <label for="yourPassword2" class="form-label">Confirme sua senha</label>
                          <!--<input type="password" name="passwordconfirm" class="form-control" id="yourPassword2" required>-->
                          {{form_registro.password2}}
                          <div class="invalid-feedback">Por favor, digite sua senha!</div>
                        </div>
    
                        <div class="col-12">
                          <button class="btn btn-primary w-100" type="submit" style="background-color: #671002; border-color: #671002; text-transform: uppercase;">Criar conta</button>
                        </div>
                        <div class="col-12">
                          <p class="small mb-0">Já tem uma conta? <a href="{% url 'login' %}">Faça Login!</a></p>
                        </div>
                      </form>
    
                    </div>
                  </div>
      </main>

      {% endblock %}