{% extends 'conta/base_login.html' %}

{% load static %}

{% block content %}
    
    <main>
        <div class="container">
    
          <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
            <div class="container">
              <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
    
                  <div class="d-flex justify-content-center py-4">
                      <img src="{% static '/img/LogoEst1.png' %}" class="img-fluid" alt="">
                  </div>
    
                  <div class="card mb-3">
    
                    <div class="card-body">
    
                      <div class="pt-4 pb-2">
                        <h5 class="card-title text-center pb-0 fs-4">Alterar Senha</h5>
                      </div>
                      
                      <form action="{% url 'alterarsenha' %}" method="POST"class="row g-3 needs-validation" novalidate>
                        {% csrf_token %}
                        
                        <div class="col-12">
                          {{form.as_p}}
                        </div>
                          <!--<label for="yourOldPassword" class="form-label col-12">Digite sua senha</label>
                          {{ form.old_password}}
                          <div class="invalid-feedback">Por favor digite sua senha!</div>
                        

                        <div class="col-12">
                          <label for="yourNewPassword" class="form-label col-12"> Nova senha</label>
                          {{ form.new_password1}}
                          <div class="invalid-feedback">Por favor digite sua senha!</div>
                        </div>

                        <div class="col-12">
                          <label for="yourNewPasswordConfirm" class="form-label col-12"> Confirme sua nova senha</label>
                          {{form.new_password2}}
                          <div class="invalid-feedback">Por favor digite sua senha!</div>
                        </div>-->

                        <div class="col-6">
                          <button class="btn btn-primary w-100" type="submit" style="background-color: #671002; border-color: #671002; text-transform: uppercase;">Salvar</button>
                        </div>
                        <div class="col-6">
                          <a href="{% url 'tela_inicio' %}"><button class="btn btn-primary w-100" type="button" style="background-color: #671002; border-color: #671002; text-transform: uppercase;">Voltar</button></a>
                        </div>
                        
                      </form>
    
                    </div>
                  </div>
                </div>
              </div>
            </div>
    
          </section>
    
        </div>
      </main>
  

{% endblock %}